# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# TensorFlow logs
logs/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model files (optional)
*.h5

# Temporary files
*.tmp